.c-theme {
    color: #F1453D;
}
.c-font {
    color: #353535;
}
.c-secondary {
    color: #A7A7A7;
}
.c-price {
    color: #D02930;
}
.c-desc {
    color: #CCC;
}
.c-white {
    color: white;
}

.bg-black {
    background-color: #333;
}
.bg-price {
    background-color: #D02930;
}
.bg-white {
    background-color: #FFF;
}

.f-tiny {
    font-size: 20rpx;
}
.f-small {
    font-size: 26rpx;
}
.f-beauty {
    font-size: 28rpx;
}
.f-normal {
    font-size: 30rpx;
}
.f-large {
    font-size: 35rpx;
}
.f-strong {
    font-weight: 800;
}

body {
    color: #353535;
    font-size: 30rpx;
    background: #F4F4F4;
}
.btn {
    @extend .c-price;
    @extend .f-beauty;
    padding: 10rpx 0;
    border: 3rpx solid #D02930;
    border-radius: 0;
    background-color: #FFF;
    &:hover {
        background-color: #D02930;
        color: #FFF;
    }
    &.type--primary {
        background-color: #D02930;
        color: #FFF;
    }
}
.checkbox {
    display: inline-block;
    border: 3rpx solid #DCDCDC;
    position: relative;
    background-color: inherit;
    border-radius: 50%;
    width: 35rpx;
    height: 35rpx;
    color: #FFF;
    &:after {
        content: '✓';
        position: absolute;
        left: -3rpx; right: -3rpx; top: -3rpx; bottom: -3rpx;
        background-color: #D02930;
        text-align: center;
        line-height: 35rpx;
        border-radius: 50%;
        transform: scale(0);
        transition: all .15s;
        border: 3rpx solid #D02930;
    }
    &.type--is-checked {
        &:after {
            transform: scale(1);
        }

    }
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 1.6em;
    overflow: hidden;
}

.bg-image {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.input-placeholder {
    color: #CCC;
}
