.c-theme {
    color: #F1453D;
}
.c-font {
    color: #353535;
}
.c-secondary {
    color: #A7A7A7;
}
.c-price {
    color: #D02930;
}
.c-desc {
    color: #CCC;
}
.c-white {
    color: white;
}

.f-tiny {
    font-size: 20rpx;
}
.f-small {
    font-size: 26rpx;
}
.f-beauty {
    font-size: 28rpx;
}
.f-normal {
    font-size: 30rpx;
}
.f-large {
    font-size: 35rpx;
}
.f-strong {
    font-weight: 800;
}

body {
    color: #353535;
    font-size: 30rpx;
    background: #F4F4F4;
}
.btn {
    @extend .c-price;
    @extend .f-beauty;
    padding: 10rpx 0;
    border: 3rpx solid #D02930;
    border-radius: 0;
    background-color: #FFF;
    &:hover {
        background-color: #D02930;
        color: #FFF;
    }
    &.type--primary {
        background-color: #D02930;
        color: #FFF;
    }
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.img {
    background-position: 50%;
    background-size: cover;
}
