.c-theme {
    color: #F1453D;
}
.c-font {
    color: #353535;
}
.c-secondary {
    color: #A7A7A7;
}
.bc-theme {
    color: #D02930;
}
.c-desc {
    color: #CCC;
}

.f-tiny {
    font-size: 20rpx;
}
.f-small {
    font-size: 26rpx;
}
.f-beauty {
    font-size: 28rpx;
}
.f-normal {
    font-size: 30rpx;
}
.f-large {
    font-size: 35rpx;
}
.f-strong {
    font-weight: 800;
}

body {
    color: #353535;
    font-size: 30rpx;
}
.btn {
    @extend .bc-theme;
    @extend .f-beauty;
    padding: 10rpx 0;
    border: 3rpx solid #D02930;
    border-radius: 0;
    background-color: #FFF;
    &:hover {
        background-color: #D02930;
        color: #FFF;
    }
    &.type--primary {
        background-color: #D02930;
        color: #FFF;
    }
}
